<div class="container" data-ng-app="">
      
  <div class="photo clearfix" data-ng-repeat="item in items">
    <div class="image">
      <a href="single/{{ item.id }}">
        <img src="{{ item.media.m }}" alt="{{ item.title }}" />
      </a>
    </div>
    <div class="info">
      <h1>
        <a href="single/{{ item.id }}">{{ item.title }}</a>
      </h1>
      <span class="author">
        <a href="http://www.flickr.com/people/{{ item.author_id }}">{{ item.author | formatAuthor }}</a>
      </span>
      <span class="published">
        Published: {{ item.published | date : "d MMM yyyy 'at' h:mm" }}
      </span>
      <span class="view">
        <a href="{{ item.link }}">View on Flickr</a>
      </span>
    </div>
  </div>

</div>